* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 100%;
}

.navbar-color {
    background-color: #E3842D;
}

.navbar-brand {
    font-family: 'Rock Salt', cursive;
}

.hero-image {
    background: #D9D9D9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 800px;
}

.hero-image h1 {
    color: white;
    font-family: 'Moul', serif;
    font-size: 96px;
    text-shadow: -8px 8px black;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    letter-spacing: 25px;
    line-height: 150px;
}

.menu-image {
    width: 900px;
    height: 700px;
    border-radius: 20px;
}

.footer {
    background-image: url('../assets/Footer.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    width: 100%;
    height: 420px;
}
.footer-container {
    background-color: rgba(0, 0, 0, 50%);
    width: 1200px;
    height: 360px;
    position: absolute;
    top: 10%;
    left: 5%;
}
.footer-img {
    position: absolute;
    width: 270px;
    height: 270px;
    left: 105%;
}

.contact-background-hero {
    background-image: url('../assets/ContactBackgroundImage.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    width: 100%;
    height: 960px;
}

.contact-background-hero h1 {
    color: white;
    font-size: 96px;
    font-family: 'Moul', serif;
    text-align: center;
    padding-top: 50px;
}

.menu-header-container {
    background-image: url('../assets/MenuHeader.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    width: 100%;
    height: 800px;
}
.menu-header-container h1 {
    color: white;
    font-size: 96px;
    font-family: 'Moul', serif;
    text-align: center;
    padding-top: 50px;
    text-shadow: -8px 8px #E3842D;
}


@media only screen and (max-width: 600px) {
    .hero-image h1 {
        font-size: 32px;
        text-shadow: -4px 4px black;
        letter-spacing: 15px;
        line-height: 100px;
    }

    .hero-image {
        height: 400px;
    }
}